@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    font-family: Fredoka;
}

.game{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.start-button{
    background: #282A3A;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}

.disabled{
    color:#757575
}
.board-container{
    position: relative;
}
.board,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}
.board-container.flipped .board{
    transform: rotateY(180deg);
}
.board-container.flipped .win{
    transform: rotateY(0);
}
.board{
    display: grid;
    padding:20px;
    grid-gap: 20px;
    position:absolute;
}
.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.card{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    perspective: 100px;
    backface-visibility: hidden;
}

.card-back{
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    font-size: 40px;
    transform: rotateY(180deg);
    /* text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; */
}

.card.flipped .card-back{
    transform: rotateY(0);
}

.card.flipped .card-front{
    transform: rotateY(0);
}
.win{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    line-height: 100%;
    font-size: 21pt;
    color: #282A3A;
    transform: rotateY(180deg);
}
